{% extends 'splitwise/base.html' %}

{% load static %}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/get_analysis.css' %}">
{% endblock link %}

{% block content %}
<div class="debt-wrapper">
    <h1>Долги и расчеты</h1>

    <div class="debt-list">
        {% for item in data %}
            <div class="debt-card">
                <div class="debt-header">
                    <span class="debtor-name">{{ item.debtor.username }}</span>
                    <span class="debt-amount">{{ item.debt }}</span>
                </div>
                <div class="debt-footer">
                    <span class="payer-name">плательщику {{ item.payer.username }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}