{% extends 'splitwise/base.html' %}
{% load static %}

{% block link %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/purchases.css' %}">
    <script src="{% static 'js/purchases.js' %}"></script>
{% endblock link %}

{% block content %}
<div class="purchases-container">
    <h1>Список покупок</h1>
    {% if objects %}
        <div class="purchases-list">
            {% for object in objects %}
            <a href="{% url 'analysis' event_id=event_id expenses_id=object.id %}" style="text-decoration: none;">

                    <div class="purchase-item">
                        <h2 class="purchase-name">{{ object.name }}</h2>
                        <p class="purchase-price">{{ object.price }} ₽</p>
                    </div>
                </a>
                
            {% endfor %}
        </div>

        <!-- Кнопка добавления новой покупки -->
        <a href="{% url 'create_purchase' event_id=event_id %}" class="btn btn-primary add-button">Добавить покупку</a>
    {% else %}
        <h2>Добро пожаловать! Создайте первую покупку для этого события.</h2>
        <a href="{% url 'create_purchase' event_id=event_id %}" class="btn btn-primary">Создать покупку</a>
    {% endif %}

    <!-- Кнопка возврата в главное меню -->
    <a href="{% url 'index' %}" class="btn btn-secondary return-button">Главное меню</a>
</div>
{% endblock content %}
